body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.header input {
    flex: 1;
    padding: 5px;
}

.header button {
    padding: 5px 10px;
    cursor: pointer;
}

.config-icon {
    cursor: pointer;
    font-size: 24px;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('./JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    /* font-weight: 100; */
    font-style: normal;
}

.mono-font {
    font-family: 'JetBrainsMono';
    font-size: 14px;
    /* font-weight: 100; */
}

.log-area {
    flex: 1;
    margin-top: 10px;
    padding: 10px;
    background-color: #e9e9e9;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.config-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.config-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 20px;
}

.config-content label {
    display: block;
    margin-bottom: 10px;
}

.config-content input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.config-content button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Status Sidebar */
.footer-status-bar {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-status-bar span {
    margin-right: 5px;
}

.footer-status-bar span:last-child {
    margin-right: 0;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 8px;
}

.status-text {
    color: #333;
}
